{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <div class="l-box">
                <h4 class="content-subhead">Listagem de Carros</h4>
                <p>Abaixo o nosso catalogo de veículos disponiveis para reservar.</p>
                {% comment %} <h4 class="content-subhead">Selecione a data desejada:</h4>
                <form action="#">
                    <div style="justify-content: space-between;
                    align-items: center">
                        <label for="pickupdate">Data de retirada:</label>
                        <input type="datetime-local" id="pickupdate" name="birthday">
                    </div>
                    <div>
                        <label for="pickupdate">Data de devolução:</label>
                        <input type="datetime-local" id="pickupdate" name="birthday">
                    </div>
                    <input type="submit" label"Filtrar"> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap" style="justify-content: space-evenly">
        {% for car in cars %}
            <div>
                <div class="w-100">
                    <div class="l-box">
                        {% if car.photo %}
                            <img 
                                src="{{ car.photo.url }}" 
                                alt="{{ car.model }}" 
                                width="400"
                                height="250"
                            />
                        {% else %}
                            <img 
                                src="https://placehold.it/400x250" 
                                alt="{{ car.model }}" 
                                width="400"
                                height="250"
                            />
                        {% endif %}
                    </div>
                    <div class="pure-u-2-3 w-100">
                        <div class="l-box">
                            <h4 class="content-subhead">{{ car.model }}</h4>
                            <br />
                            <div class="flex"
                                 style="justify-content: space-between;
                                        align-items: center">
                                <span>Ano do Veículo: {{ car.year }}</span>
                                <button type="button"
                                        class="btn btn-primary"
                                        data-car-id="{{ car.pk }}"
                                        data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                >
                                    Reservar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="pure-g-r content-ribbon">
                <div class="pure-u-1">
                    <div class="l-box">
                        <p>Nenhum carro está disponível no momento</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'rental/rental_modal.html' %}
    {% block scripts %}
    {% comment %} <script>
        $(document).ready(function() {
            $('.rental-button').click(function() {
                $('#rentalForm')
                console.log('to aqui dentro!')
            });
        });
    </script> {% endcomment %}
    {% endblock scripts %}
{% endblock content %}
