{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <div class="l-box">
                <h4 class="content-subhead">Listagem de Carros</h4>
                <p>Abaixo o nosso catalogo de veículos disponiveis para reservar.</p>
                <h4 class="content-subhead">Selecione a data desejada:</h4>
                <form action="#">
                    <div style="justify-content: space-between;
                    align-items: center">
                        <label for="pickupdate">Data de retirada:</label>
                        <input type="datetime-local" id="pickupdate" name="birthday">
                    </div>
                    <div>
                        <label for="pickupdate">Data de devolução:</label>
                        <input type="datetime-local" id="pickupdate" name="birthday">
                    </div>
                    <input type="submit" label"Filtrar">
                </form>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap" style="justify-content: space-evenly">
        {% for car in cars %}
            <div>
                <div class="w-100">
                    <div class="l-box">
                        {% if car.image %}
                            <img 
                                src="{{ car.image.url }}" 
                                alt="{{ car.model }}" 
                                width="400"
                                height="250"
                            />
                        {% else %}
                            <img 
                                src="https://placehold.it/400x250" 
                                alt="{{ car.model }}" 
                                width="400"
                                height="250"
                            />
                        {% endif %}
                    </div>
                    <div class="pure-u-2-3 w-100">
                        <div class="l-box">
                            <h4 class="content-subhead">{{ car.model }}</h4>
                            <br />
                            <div class="flex"
                                 style="justify-content: space-between;
                                        align-items: center">
                                <span>Ano do Veículo: {{ car.year }}</span>
                                <button type="button"
                                        class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop"
                                >
                                    Reservar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="pure-g-r content-ribbon">
                <div class="pure-u-1">
                    <div class="l-box">
                        <p>Nenhum carro está disponível no momento</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% comment %} FORMULÁRIO PARA RESERVAR CARROS {% endcomment %}
    <div class="modal fade"
         id="staticBackdrop"
         data-bs-backdrop="static"
         data-bs-keyboard="false"
         tabindex="-1"
         aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Reserva</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    {% if is_valid %}
                        <p>Você enviou o formulário com sucesso!</p>
                    {% endif %}
                    <form action="#" class="pure-form pure-form-aligned" method="post">
                        {% csrf_token %}
                        <fieldset>
                            {% for field in form %}
                                <div class="pure-control-group">
                                    {{ field.label_tag }} 
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="invalid-feedback">
                                            {% for error in field.errors %}
                                                    {{ error }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">Reservar</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
