{% load static %}
<div class="modal fade"
     id="staticBackdrop"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Reserva</h1>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form 
                    action="{% url 'rental:rental_modal' %}"
                    id="rentalForm"
                    class="pure-form pure-form-stacked" 
                    method="post"
                >
                    {% csrf_token %}
                    <fieldset>
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="pure-control-group">
                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Reservar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
